.right-boxes {
    background-color: #f9fafa;
    .card-header {
        background-color: #f9fafa;
        border: 1px solid #eef0f1;
    }
    
    .card-footer{
        background-color: #f9fafa;
    }

    a {
        color: $highlight-color;
    }
    ul {
        li {
            background-color: #f9fafa !important;
            border: 1px solid #eef0f1;
             a {
                text-decoration: none;
                color: black;
            }

            button {
                background-color: #3b49df;
                color: white;
            }
        }
        li:hover {
            background-color: #fff;
            color: blue;
        }

        li:hover a {
            color: blue;
        }
    }
}

.discuss-podcast {
    font-size: 1rem;
}

.mt-6 {
    margin-top: 90px;
}
@media (max-width: 575.98px) {
    .mt-6 {
        margin-top: 125px;
    }
    .inside-post h1 {
        font-size: 1.875rem;
    }
    .inside-post .media-body {
        padding: 0;
    }
}
