@import 'variables';
@import 'mixins';
@import 'navBar';
@import 'footer';

.btn-primary{
    background-color: $highlight-color;
    border: none;
    &:hover{
        background-color: $highlight-active;
    }
    &:focus{
        outline:0;
    }
    &:active{
        outline:0;
    }
}