div.footer {
  background-color: #D8DBDF;
}

div.footer a {
  color: black;
}

div.footer a:hover {
  color: #323EBE;
  text-decoration: none;
}

div.footer .footer-nav {
  color: black;
  font-size: 18px;
  max-width: 728px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  div.footer .footer-nav {
    font-size: 20px;
  }
}

div.footer .footer-social-media {
  padding-top: 20px;
}

div.footer .footer-social-media svg:hover {
  fill: #4D5760;
}

div.footer hr.footer-divider {
  margin-top: 30px;
  margin-bottom: 40px;
  width: 15%;
  min-width: 50px;
  max-width: 195px;
}

div.footer p {
  font-size: 18px;
  color: #4D5760;
  max-width: 728px;
  margin: 0 auto;
}

div.footer p:last-of-type {
  margin: 30px auto;
}

div.footer img.position-absolute {
  width: 52px;
  top: -2px;
  right: 38px;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

div.footer img.position-absolute:hover {
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
}

.leftAside {
  color: black;
}

.leftAside:hover {
  background-color: #E2E4E6;
  color: #323EBE;
}

.profilePic {
  border-radius: 100%;
}

.padding-left-aside {
  padding-left: 2.5rem;
}

.padding-header-my-tags {
  padding: 0.5rem;
}

.my-tags {
  margin-bottom: 0;
}

.padding-my-tags {
  padding: 0.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.stickers-color {
  color: #3B49DF;
  font-weight: bold;
  margin: 0;
  text-align: center;
  font-size: x-large;
  line-height: 20px;
}

.plain:hover {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.stickers-collage {
  width: 240px;
  height: auto;
}

.button-left-aside {
  padding: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
  border: none;
}

.button-left-aside:hover .heart {
  background-color: #ECDADA;
  fill: #DC1818;
}

.button-left-aside:hover .unicorn {
  background-color: #DAEEED;
  fill: #26D9CA;
}

.button-left-aside:hover .save {
  background-color: #DCDFEF;
  fill: #3B49DF;
}

.heart {
  padding: 0.5rem;
  border-radius: 100%;
}

.unicorn {
  padding: 0.5rem;
  border-radius: 100%;
}

.save {
  padding: 0.5rem;
  border-radius: 100%;
}

.more {
  padding: 0.5rem;
  border-radius: 100%;
}

.more:hover {
  background-color: #E2E4E6;
  border-radius: 100%;
}

.bottom-navbar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  bottom: 0;
  width: 100%;
  margin: 0;
  background-color: #EEF0F1;
  z-index: 1;
}

.bottom-navbar .button-left-aside {
  margin: 0;
}

.bottom-navbar .button-left-aside:hover .heart {
  background-color: #ECDADA;
  fill: #DC1818;
}

.bottom-navbar .button-left-aside:hover .unicorn {
  background-color: #DAEEED;
  fill: #26D9CA;
}

.bottom-navbar .button-left-aside:hover .save {
  background-color: #DCDFEF;
  fill: #3B49DF;
}

.right-boxes ul li {
  background-color: #f9fafa;
}

.right-boxes ul li a {
  text-decoration: none;
  color: black;
}

.right-boxes ul li button {
  background-color: #3b49df;
  color: white;
}

.right-boxes ul li:hover {
  background-color: #fff;
  color: blue;
}

.right-boxes ul li:hover a {
  color: blue;
}

.discuss-podcast {
  font-size: 1rem;
}

body {
  background-color: #eef0f1;
}
/*# sourceMappingURL=style.css.map */